<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola Mundo!</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">

</head>
<body> 
 <header> 
     <nav>
         
         <li><a href="">deco</a></li>
         <li><a href="">muebles</a></li>
         <li><a href="">oferta</a></li>
     </nav>
    <div class="titulo">
        <a href="/">
            <img src="/images/Logo.jpg" alt="" class="logo">
            </a>
    </div>
    <nav>
        <li><a href="">usuario</a></li>
        <li><a href="">carrito</a></li>
    </nav>
    

 </header>

   
</body>
<!--buscador-->
<section> 
    <input type="text">

</section>
<!--banner-->
<section>
    <h2>ofertas de la semana</h2>

</section>
</html>