<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    
</head>
<body>
    <header>
    <nav>
        <i class="fas fa-bars"></i>
    </nav>
    <div class="titulo">
        <a href="/"><img src="/images/Logo.jpg" alt="" class="logo">
        </a>
    </div>
    <nav>
        <li><a href="">ico-usuario</a></li>
        <li><a href="">ico-carrito</a></li>
    </nav>
    <h2>¿Son nuevo?</h2>
    <h3>Registrate en pocos pasos...</h3>
    <p>Nombre</p>
    <input type="text">
    <p>Apellido</p>
    <input type="text">
    <p>Fecha de nacimiento</p>
    <input type="text">
    <p>Direccion de correo electronico</p>
    <input type="email">
    <p>Contraseña</p>
    <input type="password">

</header>
</body>
</html>