header{
    height: auto;
    width: auto;
    background-color: #1400ff;
    display: flex;
    align-items: flex-end;
    padding: .3em 2em;
    font-size: 1.5em;
}

header section{
    width: 33.33%;
}
.iconos{
    display:flex;
    justify-content: flex-end;
}
.logo{
    display:flex;
    justify-content: center;
}
header .logo img{
    width: 5em;
}

.categorias{
    display:flex;
    justify-content: flex-start;
}
.categorias li a{
    margin-right: 2em;
    text-transform: capitalize;
}

.iconos li a{
    margin-left: 2em;
}