<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">
</head>

<body class="carrito">
    <header>
        <section class="categorias">
            <ul>
                <li><a href="">deco</a></li>
                <li><a href="">muebles</a></li>
                <li><a href="">ofertas!</a></li>
            </ul>
        </section>
        <section class="logo">
            <a href="/"><img src="/images/Logo.jpg" alt="" class="logo"></a>
        </section>
        <section class="iconos">
            <ul>
                <li><a href=""><i class="far fa-user-circle"></i></a></li>
                <li><a href=""><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </section>
    </header>
    <main class="contenedor">
        <form action="" class="w-100">
            <div class="controladorinput">
                <input type="search" class="iteminput">
                <button class="botoninput"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <div class="resumen">
             <h2 class="titulocarrito">Carrito de compras</h2>
             <div class="contenedorlista">
                 <div class="filalista">
                  <div class="imagenlista"><img src="/images/Logo.jpg" alt="" class="logo"></div>
                  <div class="descripcionlista"><p>Descripción</p> </div>
                  <div class="botoneslista"> <button class="botonmenos">-</button><input type="number"class="inputlista"><button class="botonmas">+</button></div>
                  <div class="preciolista">$xx.xxx.xx</div>
                 </div>
                 <div class="filalista">
                    <div class="imagenlista"><img src="/images/Logo.jpg" alt="" class="logo"></div>
                    <div class="descripcionlista"><p>Descripción</p> </div>
                    <div class="botoneslista"> <button>-</button><input type="number"><button>+</button></div>
                    <div class="preciolista">$xx.xxx.xx</div>
                   </div>
                   <div class="filalista">
                    <div class="imagenlista"><img src="/images/Logo.jpg" alt="" class="logo"></div>
                    <div class="descripcionlista"><p>Descripción</p> </div>
                    <div class="botoneslista"> <button>-</button><input type="number"><button>+</button></div>
                    <div class="preciolista">$xx.xxx.xx</div>
                   </div>
                   <div class="filalista">
                    <div class="imagenlista"><img src="/images/Logo.jpg" alt="" class="logo"></div>
                    <div class="descripcionlista"><p>Descripción</p> </div>
                    <div class="botoneslista"> <button>-</button><input type="number"><button>+</button></div>
                    <div class="preciolista">$xx.xxx.xx</div>
                   </div>
                   <div class="filalista">
                    <div class="imagenlista"><img src="/images/Logo.jpg" alt="" class="logo"></div>
                    <div class="descripcionlista"><p>Descripción</p> </div>
                    <div class="botoneslista"> <button>-</button><input type="number"><button>+</button></div>
                    <div class="preciolista">$xx.xxx.xx</div>
                   </div>
             </div>
             </div>
            <!-- resumen n°2 -->
            <div class="resumen2">
             <h2 class="titulocarrito">Resumen de tu orden de compras</h2>
             <div class="contenedorlista">
                <div class="filalista resum">
                  <div class="descripcionre"><p>Subtotal</p></div>
                  <div class="preciolista">$xx.xxx.xx</div>
                </div>
                <div class="filalista resum mrb-2">
                    <div class="descripcionre"><p>Envios</p></div>
                    <div class="preciolista">$xx.xxx.xx</div>
                  </div>
                  <div class="filalista resum">
                    <div class="descripcionre"><p>Total</p></div>
                    <div class="preciolista">$xx.xxx.xx</div>
                  </div>
             </div>
             <h2 class="titulocarrito">Ingresa tu cupón de descuento</h2>
             <form action="">
                <div class="controladorinput">
                    <input type="text" class="iteminput">
               </div>
             <button type="submit"class="botoncarrito">Finalizar compra</button>
            </form>
            <h2 class="titulocarrito">Medios de pago</h2>
            <div class="iconosdepagos">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fas fa-university"></i>
                <i class="far fa-money-bill-alt"></i>
            </div>
            </div>
 </main>
     <footer>
        <div class="navega">
            <section>
                <h4>categorias</h4>
                <ul>
                    <li><a href="">deco</a></li>
                    <li><a href="">muebles</a></li>
                    <li><a href="">ofertas!</a></li>
                </ul>
            </section>
            <section>
                <h4>empresa</h4>
                <ul>
                    <li><a href="">¿quiénes somos?</a></li>
                    <li><a href="">nuestra historia...</a></li>
                    <li><a href="">trabajá con nosotros</a></li>
                </ul>
            </section>
        </div>
        <div>
            <section class="logo">
                <a href="/"><img src="/images/Logo.jpg" alt="" class="logo"></a>
            </section>
        </div>
        <div class="contacto">
            <section class="redes">
                <h4>contactanos...</h4>
                <div class="redes2">
                    <div><a href=""><i class="fas fa-mobile-alt"></i> +54 9 11 2233-4455</a></div>
                    <div><a href=""><i class="fas fa-at"></i> info@hola.mundo.com</a></div>
                    <div class="redes3">
                        <a href=""><i class="fab fa-facebook"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fas fa-infinity"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </section>
            <section class="qr">
                <img src="/images/qr.jpg" alt="">
            </section>
        </div>
    </footer>

</body>

</html>