<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola Mundo!</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- encabezado -->
    <header>
        <section class="menu-hamb">
            <nav class="navegacion navbar navbar-expand-lg navbar-dark">
                <div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02"></div>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a href="" class="nav-link">deco</a></li>
                            <li class="nav-item"><a href="" class="nav-link">muebles</a></li>
                            <li class="nav-item"><a href="" class="nav-link">ofertas!</a></li>                        
                        </ul>
                    </div>
    
                </div>
    
            </nav>
    
        </section>
        <section class="categorias">
            <ul>
                <li><a href="/deco">deco</a></li>
                <li><a href="/muebles">muebles</a></li>
                <li><a href="/ofertas">ofertas!</a></li>
            </ul>
        </section>
        <section class="logo">
            <a href="/"><img src="/images/Logo.jpg" alt="" class="logo"></a>
        </section>
        <section class="iconos">
            <ul>
                <li><a href="/user"><i class="far fa-user-circle"></i></a></li>
                <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </section>
    </header>

    <!-- main -->

    <main>
        <section class="search">
            <form action=""><input type="text" placeholder=""></form><i class="fas fa-search"></i>
        </section>
        <div class="descrip">
            <section class="fotos">
                <img src="/images/Logo.jpg" alt="" width="250px">
                <div class="mini">
                    <i class="fas fa-chevron-left"></i>
                    <img src="/images/Logo.jpg" alt="" width="60px">
                    <img src="/images/Logo.jpg" alt="" width="60px">
                    <img src="/images/Logo.jpg" alt="" width="60px">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </section>
            <section class="info-product">
                <ul class="titular">
                    <li>
                        <h1>producto</h1>
                    </li>
                    <li class="precio">$xx.xxx,xx</li>
                </ul>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque similique ex in aut provident quam
                    repellat exercitationem numquam beatae, culpa, voluptatum consequatur unde, illo magni. Dolorum
                    repudiandae molestias quo odit quos non.</p>
                <div class="botones">
                    <form action=""><input type="number" name="" id=""></form>
                    <button class="btn">agregar al carrito</button>
                    <button class="btn">comprar</button>
                </div>
                <div class="pago">
                    <h2>medios de pago</h2>
                    <ul>
                        <li><i class="fab fa-cc-visa"></i></li>
                        <li><i class="fab fa-cc-mastercard"></i></li>
                        <li><i class="fas fa-university"></i></li>
                        <li><i class="far fa-money-bill-alt"></i></li>
                    </ul>
                </div>
            </section>
        </div>


    </main>

    <!-- footer -->

    <footer>
        <div class="navega">
            <article>
                <h4>categorias</h4>
                <section class="lista">
                    <div><i class="fas fa-circle"></i><a href="">deco</a></div>
                    <div><i class="fas fa-circle"></i><a href="">muebles</a></div>
                    <div><i class="fas fa-circle"></i><a href="">ofertas!</a></div>
                </section>
            </article>
            <article>
                <h4>empresa</h4>
                <section class="lista">
                    <div><i class="fas fa-circle"></i><a href="">¿quiénes somos?</a></div>
                    <div><i class="fas fa-circle"></i><a href="">nuestra historia...</a></div>
                    <div><i class="fas fa-circle"></i><a href="">trabajá con nosotros</a></div>
                </section>
            </article>
        </div>
        <div>
            <section class="logo">
                <a href="/"><img src="/images/Logo.jpg" alt="" class="logo"></a>
            </section>
        </div>
        <div class="contacto">
            <article class="redes">
                <h4>contactanos...</h4>
                <div class="redes2">
                    <div><a href=""><i class="fas fa-mobile-alt"></i> +54 9 11 2233-4455</a></div>
                    <div><a href=""><i class="fas fa-at"></i> info@hola.mundo.com</a></div>
                    <div class="redes3">
                        <a href=""><i class="fab fa-facebook"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fas fa-infinity"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </article>
            <section class="qr">
                <img src="/images/qr.jpg" alt="">
            </section>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

</body>

</html>