<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">

</head>

<body>

    <header>
        <section class="categorias">
            <ul>
                <li><a href="">deco</a></li>
                <li><a href="">muebles</a></li>
                <li><a href="">ofertas!</a></li>
            </ul>
        </section>
        <section class="logo">
            <a href="/"><img src="/images/Logo.jpg" alt="" class="logo"></a>
        </section>
        <section class="iconos">
            <ul>
                <li><a href=""><i class="far fa-user-circle"></i></a></li>
                <li><a href=""><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </section>
    </header>
    <main>
        <div class="cuerpo">
            <div class="info">
                <h2>¿Son nuevo?</h2>
                <h3>Registrate en pocos pasos...</h3>
                <form action="">
                    <div class="controladorinput">
                        <label for="name" class="itemlabel">Nombre </label>
                        <input type="text" class="iteminput" id="name">
                    </div>
                    <div class="controladorinput">
                        <label for="apellido" class="itemlabel">Apellido </label>
                        <input type="text" class="iteminput" id="apellido">
                    </div>
                    <div class="controladorinput">
                        <label for="fechadenacimiento" class="itemlabel">Fecha de nacimiento </label>
                        <input type="date" class="iteminput fechainput" id="fechadenacimiento">
                    </div>
                    <div class="controladorinput itemmail">
                        <label for="email" class="itemlabel">Direccion de correo electronico </label>
                        <input type="email" class="iteminput" id="email">
                    </div>
                    <div class="controladorinput">
                        <label for="pass" class="itemlabel">Contraseña </label>
                        <input type="password" class="iteminput" id="pass">
                    </div>
                    <div class="controladorcheckbox">
                        <label><input type="radio"> Acepto las condiciones generales y la politica de
                            confidencialidad</label>
                    <label><input type="radio"> Quiero recibir notificaciones </label>
                    </div>
                    <button>Crear cuenta</button>
                </form>

            </div> <div class="separador"> </div>
            <div class="info2">
                <h2>Si ya estas registrado</h2>
                <form action="">
                <div class="controladorinput">
                    <label for="email" class="itemlabel">Direccion de correo electronico </label>
                    <input type="email" class="iteminput" id="email">
                </div>
                <div class="controladorinput">
                    <label for="pass" class="itemlabel">Contraseña </label>
                    <input type="password" class="iteminput" id="pass">
                    </div>
                <a class="link-form">¿Te olvidaste la contraseña?</a>
                <button>Iniciar Sesión</button>
            </form>
            </div>
        </div>
    
    </main>
    <footer>
        <div class="navega">
            <section>
                <h4>categorias</h4>
                <ul>
                    <li><a href="">deco</a></li>
                    <li><a href="">muebles</a></li>
                    <li><a href="">ofertas!</a></li>
                </ul>
            </section>
            <section>
                <h4>empresa</h4>
                <ul>
                    <li><a href="">¿quiénes somos?</a></li>
                    <li><a href="">nuestra historia...</a></li>
                    <li><a href="">trabajá con nosotros</a></li>
                </ul>
            </section>
        </div>
        <div>
            <section class="logo">
                <a href="/"><img src="/images/Logo.jpg" alt="" class="logo"></a>
            </section>
        </div>
        <div class="contacto">
            <section class="redes">
                <h4>contactanos...</h4>
                <div class="redes2">
                    <div><a href=""><i class="fas fa-mobile-alt"></i> +54 9 11 2233-4455</a></div>
                    <div><a href=""><i class="fas fa-at"></i> info@hola.mundo.com</a></div>
                    <div class="redes3">
                        <a href=""><i class="fab fa-facebook"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fas fa-infinity"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </section>
            <section class="qr">
                <img src="/images/qr.jpg" alt="">
            </section>
        </div>
    </footer>
</body>

</html>