<footer class="footer">
    <div class="categorias">
      <h4 class="footer_h4">Categorías</h4>
      <section class="lista">
        <ul>
          <li><a href=""></a>Deco</li>
          <li><a href=""></a>Muebles</li>
          <li><a href=""></a>Ofertas!</li>
        </ul>
      </section>
    </div>
    <div class="empresa">
      <h4 class="footer_h4">Empresa</h4>
      <section class="lista">
        <ul>
          <li><a href=""></a>¿Quiénes somos?</li>
          <li><a href=""></a>Nuestra historia...</li>
          <li><a href=""></a>Trabajá con nosotros</li>
        </ul>
      </section>
    </div>

    <div class="contacto">
      <article>
        <h4 class="footer_h4">Contactanos...</h4>
        <div>
          <div>
            <a class="footer_a_teleinfo" href=""
              ><i class="fas fa-mobile-alt"></i> +54 9 11 2233-4455</a
            >
          </div>
          <div>
            <a class="footer_a_teleinfo" href=""
              ><i class="fas fa-at"></i> info@hola.mundo.com</a
            >
          </div>
          <div class="redes d-flex justify-content-around">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fas fa-infinity"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </article>
    </div>
    <div class="logo">
      <section class="d-flex justify-content-center">
        <img class="img-fluid" src="/images/Logo.jpg" />
      </section>
    </div>
    <div class="qr">
      <img class="img-fluid" src="/images/qr.jpg" alt="" />
    </div>
  </footer>