<footer class="footer">
    <div class="categorias">
      <h4 class="footer_h4">Categorías</h4>
      <section class="lista">
        <ul>
          <li><a href="/#decoracion">Deco</a></li>
          <li><a href="/#muebles">Muebles</a></li>
          <li><a href="/#ofertas">Ofertas!</a></li>
        </ul>
      </section>
    </div>
    <div class="empresa">
      <h4 class="footer_h4">Empresa</h4>
      <section class="lista">
        <ul>
          <li><a href="/about">¿Quiénes somos?</a></li>
          <li><a href="/history">Nuestra historia...</a></li>
          <li><a href="/work">Trabajá con nosotros</a></li>
        </ul>
      </section>
    </div>

    <div class="contacto">
      <article>
        <h4 class="footer_h4">Contactos...</h4>
        <div>
          <div>
            <a class="footer_a_teleinfo" href=""><i class="fas fa-mobile-alt"></i> +54 9 11 2233-4455</a>
          </div>
          <div>
            <a class="footer_a_teleinfo" href=""><i class="fas fa-at"></i> info@hola.mundo.com</a>
          </div>
          <div class="redes d-flex justify-content-evently">
            <a href="https://wa.me/+5491122334455"><i class="fab fa-whatsapp" style="padding: 5px;"></i></a>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook" style="padding: 5px;"></i></a>
            <a href="https://www.twitter.com/"><i class="fab fa-twitter" style="padding: 5px;"></i></a>
            <a href="http://www.instagram.com/"><i class="fab fa-instagram" style="padding: 5px;"></i></a>
          </div>
        </div>
      </article>
    </div>
    <div class="logo">
      <section class="d-flex justify-content-center">
        <img class="w-50" src="/images/Logo.jpg" />
      </section>
    </div>
    <div class="qr">
      <img class="w-50" src="/images/qr.jpg" alt="" />
    </div>
  </footer>