*{
    margin: 0;
    padding: 0;
    font-family:'Rancho',cursive;
    box-sizing: border-box;
}

body {
    background-image: url('/images/fondo.jpg');
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.fa-whatsapp:hover{
    color: #6df300;
}

.fa-facebook:hover{
    color: #246ffa;
}

.fa-twitter:hover{
    color: #73c6fd;
}

.fa-instagram:hover{
    color: #bd1db5;
}