<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%-include('./partials/head') %>

  <body>
    <!-- Header -->
    <%-include('./partials/header') %>

      <!-- Main -->
      <main>
        <div class="contact">
          <div class="container">
            <h2 class="text-center">Acercate a conocernos en..</h2>
            <iframe src="https://www.google.com/maps/d/embed?mid=1iosLIFbLjN8H_X7wBcH8CQ4YTj9EVzip" width="100%" height="480"></iframe>
            <h2 class="text-center"><u><b>INFORMACIÓN DE CONTACTO</b></u></h2>
            <div class="info">
              <div class="left">
                <h3><a href="https://goo.gl/maps/jV1HYiFcmAVeERFJ9" style="color:black"><b style="color:#1400ff">Sucursal Gonzalez Catán</b> | <i>Lunes a sábados de 10 a 20hs.</i></a></h3>
                <h3><a href="https://goo.gl/maps/P3j8k39kzViJEeti8" style="color:black"><b style="color:#1400ff">Sucursal San Miguel</b> | <i>Lunes a sábados de 10 a 20hs.</i></a></h3>
                <h3><a href="https://goo.gl/maps/uuziHGKYHaN1mxfC8" style="color:black"><b style="color:#1400ff">Sucursal Vicente López</b> | <i>Lunes a sábados de 10 a 20hs.</i></a></h3>
              </div>
              <div class="right">
                <a href="https://wa.me/+5491151614559"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                <a href="http://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>
              </div>
            </div> 
            <div class="form-comentario row card border rounded shadow col-12 my-3">
              <form action="" method="get" class="row mx-auto col-11 my-4">
                <h5 for="">Nombre: </h5><input type="text" name="name-comentario" id="name-comentario" class="my-2" style="border: solid 3px #B2DAFF; border-radius: 3px;">
                <h5 for="">E-mail de contacto: </h5><input type="email" name="mail-comentario" id="mail-comentario" class="my-2" style="border: solid 3px #B2DAFF; border-radius: 3px;">
                <h5 for="">Teléfono de contacto: </h5><input type="tel" name="tel-comentario" id="tel-comentario" class="my-2" style="border: solid 3px #B2DAFF; border-radius: 3px;">
                <h5 for="">Dejanos tu comentario: </h5><textarea name="comentario" id="comentario" cols="100" rows="5" class="my-2" style="border: solid 3px #B2DAFF; border-radius: 3px;"></textarea>
              </form>
            </div>
          </div>
        </div>
      </main>
      <!-- Footer -->
      <%-include('./partials/footer') %>

      <!-- scripts -->
      <%-include('./partials/scripts') %>
  </body>

</html>