<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%-include('./partials/head') %>

  <body class="home">

    <!-- Header -->
    <%-include('./partials/header') %>

      <main class="container">
        <div class="card border rounded shadow my-5 col-md-8 col-lg-10 mx-auto">
            Fue fundada en Argentina en el año 2011 y luego en 2021 se expandió también hacia Chile. 

            En 2017 se integra al grupo la empresa argentina J&C, especializada en muebles y artículos de decoración en madera.

            En 2007 entró en marcha blanca al mercado colombiano en un joint venture con la Casino Guichard-Perrachon, de manera que Cencosud tuviera el 70% de las acciones y Casino el 30%. En el año 2008 Cencosud adquirió la totalidad de las acciones de Easy Colombia S.A.[
        </div>
      </main>
      <!-- Footer -->
      <%-include('./partials/footer') %>

        <!-- scripts -->
        <%-include('./partials/scripts') %>
  </body>

</html>