<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%-include('./partials/head') %>

  <body class="home">

    <!-- Header -->
    <%-include('./partials/header') %>

      <main class="container">
        <div class="card border rounded shadow my-5 col-md-8 col-lg-10 mx-auto">
            
        </div>
      </main>
      <!-- Footer -->
      <%-include('./partials/footer') %>

        <!-- scripts -->
        <%-include('./partials/scripts') %>
  </body>

</html>