<!DOCTYPE html>
<html lang="es">

<%-include('./partials/head') %>

  <body>
    <!-- encabezado -->
    <%-include('./partials/header') %>
      <main class="detail">
        <div class="container">

          <div class="card border rounded shadow my-5 col-md-8 col-lg-10 mx-auto">
            <div class="row">
              <div class="register col-12 col-lg-6 mt-5">
                <h2>¿Sos nuevo?</h2>
                <h4 class="mb-5">Registrate en pocos pasos...</h4>
                <form action="">
                  <div class="mb-3">
                    <label for="name">Nombre </label>
                    <input type="text" class="form-control" id="name">
                  </div>
                  <div class="mb-3">
                    <label for="apellido">Apellido </label>
                    <input type="text" class="form-control" id="apellido">
                  </div>
                  <div class="mb-3">
                    <label for="fechadenacimiento">Fecha de nacimiento </label>
                    <input type="date" class="form-control fechainput" id="fechadenacimiento">
                  </div>
                  <div class="mb-3 itemmail">
                    <label for="email">Direccion de correo electronico </label>
                    <input type="email" class="form-control" id="email">
                  </div>
                  <div class="mb-3">
                    <label for="pass">Contraseña </label>
                    <input type="password" class="form-control" id="pass">
                  </div>
                  <div class="mb-3">
                    <label><input type="checkbox"> Acepto las condiciones generales y la politica de
                      confidencialidad</label>
                    <label><input type="checkbox"> Quiero recibir notificaciones </label>
                  </div>
                  <button class="btn btn-primary w-100 mt-4">Crear cuenta</button>
                </form>
              </div>
              <div class="register col-12 col-lg-6 mt-5">
                <h2 class="mb-5">Si ya estas registrado</h2>
                <form action="">
                  <div class="mb-3">
                    <label for="email">Direccion de correo electronico </label>
                    <input type="email" class="form-control" id="email">
                  </div>
                  <div class="mb-3">
                    <label for="pass">Contraseña </label>
                    <input type="password" class="form-control" id="pass">
                  </div>
                  <div class="mb-3">
                    <a href="#" class="text-secondary">¿Te olvidaste la contraseña?</a>
                  </div>

                  <button class="btn btn-primary w-100 mt-4">Iniciar Sesión</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>

      <main>

        </div>
        <div class="separador"> </div>
        <div class="info2">


        </div>
        </div>

      </main>
      <!-- Pie de la página -->
      <%-include('./partials/footer') %>
        <%-include('./partials/scripts') %>

  </body>

</html>