<%-include('./partials/head') %>
<main class="charge">
    <form action="" class="formulario">
        <button class="btn-fotos">Agregar fotos</button>
        <div class="colum">
        <label for="">Título<input type="text" name="" id=""></label>
        <label for="">Precio<input type="text" name="" id=""></label>
        <label for="">Código<input type="text" name="" id=""></label>
        <label for="">Descripción<input type="text" name="" id="" class="description"></label>
    </div>
        <button type="submit" class="btn-charge">Cargar producto</button>
    </form>
    
</main>