<!DOCTYPE html>
<html lang="es">

  <%-include('./partials/head') %>

<body>
    <!-- encabezado -->
    <%-include('./partials/header') %>

    <!-- main -->

    <main class="detail">
        <div class="container">

            <div class="card border rounded shadow my-5">
                <h2>Nombre del producto</h2>
                <div class="contenido">
                  <section class="fotos">
                    <div class="maxi">
                        <img class="img-fluid" src="/images/productos/product-01.webp" alt="" >
                    </div>
                
                    <div class="mini">
                        <i class="fas fa-chevron-left"></i>
                        <i class="fas fa-chevron-up"></i>
                        <img src="/images/productos/product-01.webp" alt="">
                        <img src="/images/productos/product-02.webp" alt="">
                        <img src="/images/productos/product-03.webp" alt="">
                        <i class="fas fa-chevron-right"></i>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </section>
                <section class="info">
                    <h3>$ 100,00</h3>
                    <p class="mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque similique ex in aut provident quam repellat exercitationem numquam beatae, culpa, voluptatum consequatur unde, illo magni. Dolorum repudiandae molestias quo odit quos non.</p>
                    <div class="botones mt-4">
                        <a href="" class="btn btn-primary">Agregar al carrito</a>
                        <a href="" class="btn btn-primary">Comprar</a>
                    </div>
                    <div class="mt-5">
                        <h4>Medios de pago</h4>
                        <ul class="pago">
                            <li><i class="fab fa-cc-visa"></i></li>
                            <li><i class="fab fa-cc-mastercard"></i></li>
                            <li><i class="fas fa-university"></i></li>
                            <li><i class="far fa-money-bill-alt"></i></li>
                        </ul>
                    </div>
                </section>
                </div>
                
            </div>
        </div>
    </main>

  <!-- Pie de la página -->
  <%-include('./partials/footer') %>

   <!-- scripts -->
  <%-include('./partials/scripts') %>

</body>

</html>